<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Siteismi</title>
  </head>

  <body>
    <div class="join-container">
      <header class="join-header">
        <h1><i class="fas fa-smile"></i> Siteismi</h1>
      </header>
      <main class="join-main">
        <form action="/login" method="POST" onsubmit="return false">
          <div class="input-divs">
            <div class="form-control">
              <label for="username">Kullanıcı adı</label>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Kullanıcı adı girin..."
              />
            </div>
            <div class="form-control userpass-div">
              <label for="userpass">Şifre</label>
              <input
                type="text"
                name="userpass"
                id="userpass"
                value="_"
                placeholder="Şifre girin..."
              />
            </div>
          </div>
          <div class="form-control">
            <label for="room">Oda ismi</label>
            <select name="room" id="room">
              <option value="Oda 1">Oda 1</option>
              <option value="Oda 2">Oda 2</option>
              <option value="Oda 3">Oda 3</option>
              <option value="Oda 4">Oda 4</option>
              <option value="Oda 5">Oda 5</option>
              <option value="Oda 6">Oda 6</option>
            </select>
          </div>
          <button type="submit" class="btn">Haydi Sohbete Katıl!</button>
        </form>
      </main>
    </div>
    <script src="libs/sweetalert2@11.js"></script>
    <script src="libs/jquery-3.6.0.min.js"></script>
    <script src="js/loginajax.js"></script>
  </body>
</html>
